<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>List user</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<body style="padding: 20px">
<div th:replace="header::header"></div>
<p>Danh sách thẻ bảo hiểm</p>
<form method="GET" th:action="@{/listUser}">
    <div style="margin-left: 10px">
        <p>Tên công ty</p>
        <select th:name="company_id" id="company_internal_id">
            <option th:each="company:${company_list}" th:value="${company.companyInternalId}"
                    th:utext="${company.companyName}"
                    th:selected="${company.companyInternalId == company_id_selected}"></option>
        </select>
    </div>
    <br/>
    <strong>Thông tin tìm kiếm</strong>
    <table style="border: 1px solid black; padding: 14px">
        <tr>
            <td>
                <label>Tên người sử dụng</label>
            </td>
            <td>
                <input type="text" th:name="user_full_name" th:value="${user_full_name}" id="user_full_name"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Mã số thẻ bảo hiểm</label>
            </td>
            <td>
                <input type="text" th:name="insurance_number" th:value="${insurance_number}" id="insurance_number"/>
            </td>

        </tr>
        <tr>
            <td>
                <label>Nơi đăng ký</label>
            </td>
            <td>
                <input type="text" th:name="place_of_register" th:value="${place_of_register}" id="place_of_register"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <input style="display: none" th:name="action" th:value="search"/>
                <input style="margin-top: 10px; text-align: center" type="submit" value="Tìm kiếm"/>
            </td>
        </tr>
    </table>
</form>
<table width="100%">
    <tr>
        <td><input type="button" value="Đăng ký" onclick="location.href='/addInsurance'"/></td>
        <td th:if="${total_user > 0}"><input type="button" value="Export CSV"
                                             onclick="location.href='/export'"/></td>
    </tr>

</table>
<p th:if="${total_user == 0}">Không tìm thấy thẻ bảo hiểm</p>
<table width="100%" border="1" th:unless="${total_user == 0}">
    <tr>
        <th>Tên người sử dụng
            <a th:if="${sort_type=='ASC'}" style="pointer-events: none;text-decoration: none !important;">&#9650;</a>
            <a th:unless="${sort_type=='ASC'}" style="color: #374BFD"
               th:href="@{/listUser(sort_type=ASC,action=sort)}">&#9650;</a>

            <a th:if="${sort_type=='DESC'}" style="pointer-events: none;text-decoration: none !important;">&#9660;</a>
            <a th:unless="${sort_type=='DESC'}" style="color: #374BFD"
               th:href="@{/listUser(sort_type=DESC,action=sort)}">&#9660;</a>
        </th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Mã số thẻ bảo hiểm</th>
        <th>Kỳ hạn</th>
        <th>Nơi đăng ký KCB</th>
    </tr>
    <tr th:each="user:${user_list}">
        <td th:utext="${user.userFullName}"></td>
        <td th:switch="${user.userSexDivision}">
            <span th:case="'1'">Nam</span>
            <span th:case="'2'">Nữ</span>
        </td>
        <td th:if="${user.birthDate==null}"></td>
        <td th:unless="${user.birthDate==null}" th:utext="${#dates.format(user.birthDate, 'dd-MM-yyyy')}"></td>
        <td th:utext="${user.insurance.insuranceNumber}"></td>
        <td th:utext="${#dates.format(user.insurance.insuranceStartDate,'dd/MM/yyyy')}
                    +'~'
                    +${#dates.format(user.insurance.insuranceEndDate,'dd/MM/yyyy')}"></td>
        <td th:utext="${user.insurance.placeOfRegister}"></td>
    </tr>
</table>
<div th:if="${total_user > 0}">
    <a th:if="${previous_page > 0}" th:href="@{/listUser(current_page=${previous_page},action=paging)}">&lt;&lt;</a>
    <span th:if="${previous_page > 0}">&#124;</span>
    <th:block th:each="page : ${page_list}">
        <a th:href="@{/listUser(current_page=${page},action=paging)}" th:utext="${page}"
           th:if="${page == current_page}"
           style="pointer-events: none;text-decoration: none !important;"></a>
        <a th:href="@{/listUser(current_page=${page},action=paging)}" th:utext="${page}"
           th:unless="${page == current_page}"></a>
        <span th:if="${total_page > page}">&#124;</span>
    </th:block>
    <a th:if="${total_page > current_page}" th:href="@{/listUser(current_page=${next_page},action=paging)}">&gt;&gt;</a>
</div>
<script>
    $("#company_internal_id").change(function () {
        $("#user_full_name").val("");
        $("#insurance_number").val("");
        $("#place_of_register").val("");
    });
</script>
</body>
</html>